<div class="container">
    <h2>Logged out</h2>
    {{#if timeout}}
        Looks like you were logged out.  <a href="/login">Click here</a> to go back to login
    {{else}}
        You were successfully logges out.  To log back in, <a href="/login">click here</a>
    {{/if}}
</div>