<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

<div class="container-fluid p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Map</h1>
    <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
  </div>
  <div id="map" style="height: 75vh; width: 100%; border-radius: 0.5rem;"></div>
</div>

<script>
  var map = L.map('map').setView([40.015, -105.27], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // Sample pin in Boulder
  L.marker([40.0150, -105.2705]).addTo(map)
    .bindPopup('<b>Sample Pin</b><br>Boulder, CO')
    .openPopup();

  // Real-time user location tracking
  var userMarker = null;

  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(
      function (position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        if (userMarker) {
          userMarker.setLatLng([lat, lng]);
        } else {
          userMarker = L.circleMarker([lat, lng], {
            radius: 8,
            fillColor: '#4285F4',
            color: '#fff',
            weight: 2,
            fillOpacity: 1
          }).addTo(map).bindPopup('You are here');
        }
      },
      function (error) {
        console.log('Geolocation error:', error.message);
      },
      { enableHighAccuracy: true }
    );
  }
</script>
