<div class="container">
    <!-- Should have a similar look to the profile page -->
    <form action="editprofile" method="post" enctype="multipart/form-data">
        <label for="usernameInput">Username: </label>
        <input type="text" name="username" id="usernameInput" value="{{username}}" pattern="^[A-Za-z0-9_.\-]{4,50}$" required><br>
        <label for="profileImage">Profile image: </label>
        <img src="{{#if userImg}}{{userImg}}{{else}}/resources/profile.png{{/if}}" class="profileImage" alt="Profile Image" id="profileImage" height="96" width="96">
        <input type="file" name="profileImage" id="profileImageInput" accept="image/png, image/jpeg"><br>
        <!-- TODO: Add javascript to change the image above when an image is selected --> 
        <label for="realName">Real name (optional): </label>
        <input type="text" name="realName" id="realName" {{#if userRealName}}value="{{userRealName}}"{{/if}}> <small>(Only friends can see)</small><br>
        {{> warning}}
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" href="/profile">Cancel</a>
    </form>
</div>
<script src="/resources/editprofile.js"></script>